.App {
  min-height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora {
  width: 100%; /* Ajusta la calculadora al 100% del ancho disponible */
  max-width: 400px; /* Para que no crezca más de 400px en pantallas grandes */
  height: auto; /* Permite que la altura crezca según el contenido */
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}